@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
